*{
    padding: 0px;
    margin: 0px;
}
/* a. Make the font type "Lucida Calligraphy" for any p or div or span tag (use one 
CSS rule). */
p,div,span{
    font-family: "Lucida Calligraphy";
}
/* b. tag which is child from div tag to be in the center of the page. */
div h1{
    text-align: center;
}
